[submodule "3rd/n3ldg"]
	path = 3rd/n3ldg
	url = http://github.com/chncwang/n3ldg-1
[submodule "3rd/cxxopts"]
	path = 3rd/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "3rd/boost-algorithm"]
	path = 3rd/boost-algorithm
	url = http://github.com/boostorg/algorithm
